#kids{
    margin-top: 20px;
    margin-bottom: 5px;
}

#weekdays{
    margin-bottom: 5px;
}

#weather{
    margin-bottom: 5px;
}

#schooltime{
    margin-bottom: 5px;
}

#time{
    margin-bottom: 5px;
}